1)https://github.com/dr5hn/countries-states-cities-database/tree/master/csv

2)Escolhemos este conjunto de dados, uma vez que tal como o criador dos mesmos, sentimos que há uma necessidade de interpretação e uso deste conjunto de dados. escolhemos em espeecifico o conjunto de dados sobre as cidades, pois acreditamos ser o que costuma ser menos utilizado ou reconhecido ,pelas outras pessoas com facilidade.

3)Estes dados servem para descrever informações básicas de cidades, ou seja, o seu nome, a sua latitude e longitude, bem como a que país e estado pertencem. Dependendo destas informações básicas que referi acima é possivél chegar a que estado e país pertence uma certa cidade, ou até mesmo que cidades possui certo país.

In [15]:
#4)

import pandas as pd

#countries = pd.read_csv('countries.csv')
#states = pd.read_csv('states.csv')

cities = pd.read_csv('cities.csv')

#countries.head(10)
#states.head(10)

cities.head(10)

,id,name,state_id,state_code,country_id,country_code,latitude,longitude
0,52,Ashkāsham,3901,BDS,1,AF,36.68333,71.53333
1,68,Fayzabad,3901,BDS,1,AF,37.11664,70.58002
2,78,Jurm,3901,BDS,1,AF,36.86477,70.83421
3,84,Khandūd,3901,BDS,1,AF,36.95127,72.31800
4,115,Rāghistān,3901,BDS,1,AF,37.66079,70.67346
5,131,Wākhān,3901,BDS,1,AF,37.05710,73.34928
6,72,Ghormach,3871,BDG,1,AF,35.73062,63.78264
7,108,Qala i Naw,3871,BDG,1,AF,34.98735,63.12891
8,54,Baghlān,3875,BGL,1,AF,36.13068,68.70829
9,140,Ḩukūmatī Dahanah-ye Ghōrī,3875,BGL,1,AF,35.90617,68.48869

**5)** O tipo de dados de cada atributo são números inteiros nas colunas _id, objetos nas colunas _code e name e por fim são usados floats ou números decimais para a latitude e longitude. Os tipos de dados podem ser conferidos fazendo uso do método .dtypes, como foi feito abaixo.

In [16]:
cities.dtypes

id                int64
name             object
state_id          int64
state_code       object
country_id        int64
country_code     object
latitude        float64
longitude       float64
dtype: object